<p>d3.js force layout POC</p>

{{static-force-layout
    data=data
    mutate='mutateData'
    clickOption1='clickOption1'
    clickOption2='clickOption2'
    clickOption3='clickOption3'
    clickOption4='clickOption4'
}}
